@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Comfortaa-Medium;
  src: url(fonts/Comfortaa/static/Comfortaa-Medium.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  transition: 0.35s all ease-in-out;
}

body {

  background-size: 100vh;
  height: 100%;
}

.main {
  position: relative;
  margin: auto;
  background-size: cover;
  height: 100%;
  width: 100%; 
  backdrop-filter: blur(5px);
  text-align: center;

}

.card {
  position: relative;
  margin: auto;
  width: 90%;
  height: auto;
  /* background: #99B8CC; */
  border-radius: 16px;
  /* color: #E4F1F9; */
  font-family: Comfortaa-Medium;
  padding-bottom: 15px;
  top: 50px;
  /* text-shadow: 2px 2px 10px #000; */
  
}

.date {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  gap: 10px;
  font-size: 1.8em;
  padding-top: 15px;
  font-weight: 500;
}

.date svg {
  margin-top: -5px;
}

.minmax {
  font-size: 1.3em;
}

.temperature {
  margin: 0;
  font-size: 77px;
  font-family: Poppins-Medium;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* text-shadow: 2px 2px 15px #393939; */
}

.state {
  font-size: 1.4em;
}

.location, .feels_like, .current_date {
  font-size: 1em;  
  margin-top: 10px;
}


.centered {
  padding: 10%;
}

.weather_icon {
  width: 85px;
  position: relative;
  /* filter: drop-shadow(2px 2px 15px #393939); */
}

.info {
  position: relative;
  font-size: 10px;
  color: #FFFDD4;
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 100px;
}

.powered {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.powered_text {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.version {
  padding-right: 10px;
}



.hourText {
  display: flex;
  color: #CCC;
  gap: 5px;
}

.updateBlock {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

.update {
  position: relative;
  font-size: 18px;
  display: flex;
  top: 20px;
}

.up {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.down {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.hourForecast {
  /* margin-top: 15px; */
  text-align: center;
  align-items: center;
}

.hourForecast p{
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #f8f7ff;
}

.hourForecast p:first-child {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}

.tempForecast {
  display: flex;
  align-items: center;
  color: #f6f6f6;
  gap: 2px;
}



.white_line {
  height: 1px;
  width: 90%;
  background: #ffffffa8;
  border-radius: 8px;
  position: relative;
  margin: auto;
  margin: 20px;
}

.dayliForecast {
  min-width: 280px;
  width: 90%;
  max-width: 90%;
  min-height: 300px;
  position: relative;
  margin: auto;
  margin-top: 40px;
  border-radius: 16px;
  font-family: Comfortaa-Medium;
  text-align: left;
  padding: 15px 20px;
  /*the alpha value controls the transparency*/
  background: rgba(255, 255, 255, 0.3);

/* This controls the blurring effect*/
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );

/*Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

/* Adding our borders*/
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 4;
}


.dayliText {
  display: flex;
  margin: 0;
  gap: 6px;
  font-size: 12px;
  align-items: center;
  color: #ffffff;
}
.dayliText svg {
  margin-top: -4px;
}

.dailyForecastInfo {
  margin-top: 20px;
}

.forecastRow:first-child {
  border-top: 2px #ffffffa8 solid;
}

.forecastRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  border-bottom: 2px #ffffffa8 solid;
  padding-top: 15px;
}

.forecastRow img {
  margin-top: -5px;
}

.forecastRow p {
  font-size: 1.2em;
}

.weather_icon_big {
  width: 45px;
  height: 40px;
}

.minmaxTemp {
  display: flex;
  gap: 15px;
}

.minmaxTemp svg {
  margin-left: -12px;
}


/* GLASS */

.dayForecast {
  display: flex;
  text-align: center;
  /* min-width: 280px; */
  /* width: 90%;
  max-width: 90%; */
  min-height: 150px;
  
  position: relative;
  margin: auto;
  margin-top: 90px;
  border-radius: 16px;
  color: #fff;

  font-family: Comfortaa-Medium;
  /* padding: 15px 20px; */
  /* text-align: left; */
}

.upper-layer {
  display: flex;
  position: relative;
  margin: auto;
  text-align: center;
/* Setting the size of the upper layer to 80% of the screen size*/
  min-width: 280px;
  width: 90%;
  max-width: 90%;
  min-height: 150px;
  align-items: center;
  justify-content: space-between;
  /* text-align: left; */
  /* padding: 20px; */
  padding-left: 15px;

  padding-bottom: 15px;

/*the alpha value controls the transparency*/
  background: rgba(255, 255, 255, 0.3);

/* This controls the blurring effect*/
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );

/*Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

/* Adding our borders*/
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.upper-layer p:first-child {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.weather_icon_small {
  width: 48px;
  height: 45px;
}


.left {
  display: flex;
  text-align: left;
  margin: 0;
  padding: 0;
  padding:  10px 0px ;
  align-items: center;
  gap: 7px;
  color: #ffffff;
  font-size: 12px;
  border-bottom: 1px #ffffff55 solid;
  margin-bottom: 15px;

}

.left svg {
  margin-top: -5px;
}

/* Медиа запросы */

@media screen and (max-width: 380px) {
  .weather_icon {
    display: none;
  }

  .info {
    top: 38%;
  }
}



@media screen and (min-width: 580px) {
  .card {
    width: 400px;
    height: auto;
    padding-bottom: 30px;
  }

  .dayForecast {
    width: 90%;
  }

  .dayliForecast {
    width: 400px;
  } 

  .upper-layer {
    width: 400px;
  } 

  .info {
    top: 40%;
  }

  .date {
    font-size: 2em;
    font-weight: 500;
  }

  .state {
    font-size: 1.5em;
  }

  .location, .feels_like, .current_date {
    font-size: 1.2em;
  }
}


@media screen and (min-width: 500px) {
  .hourForecast p {
    font-size: 13px;
  }

  .hourForecast p:first-child {
    font-size: 15px;
  }


}